{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Tiempo Kiosk</title>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">

        <style type="text/css">

            .job.ng-animate {
              background-color: #fff9d8;
            }

            #finishedJobs {
              position: relative;
              width:30%;
              float: right;
            }

            .error {
              /*border: 1px solid red;*/
              margin-top: 10px;
              padding: 8px;
              background-color: rgb(255, 233, 233);
            }

             .success {
              /*border: 2px solid green;*/
              margin-top: 10px;
              padding: 8px;
              background-color: #D5FFD1;
            }

            md-progress-circular {
                position:relative;
            }

            #kioskRowAreas {
              width:65%;
            }


            #organizationLogo {
                width: 180px;
            }
             .md-toolbar-tools {
              background-color: #f6f6f6;
              border-bottom: 1px solid #ccc;
              height:100px;
            }


        </style>
    </head>
    <body ng-app='app'>
        <md-toolbar>
            <div class='md-toolbar-tools'>
                <img id="organizationLogo" src="{{organization_logo}}"/>
                <img src="{% static 'tiempo/img/tiempo-logo.png' %}" width="100" style="float: right;"/>
            </div>
        </md-toolbar>

        <div ng-controller='TiempoController' layout-padding>

            <md-list id="finishedJobs" class='md-whiteframe-z1'>
                <div class="finishedJob" ng-repeat="(id, result) in tiempo.results | reverse |limitTo: 10" >
                    <div ng-class="{'error': result.error_message, 'success': !result.error_message}" class="md-list-item-text" layout="column">
                        <div flex="10"><strong>[{result.message}]</strong></div>
                        <div><small>"[{result.codeWord}]"</small> - <span am-time-ago="result.finish_time"></span></div>
                        <div class="errorText">[{result.result}]</div>
                    </div>
                </div>
            </md-list>

            <div layout='row' id="kioskRowAreas">
                <md-list flex='100' offset="5" class='md-whiteframe-z1'>

                    <!-- Runners -->
                    <h2 layout-padding>Running</h2>
                    <md-list-item>
                        <div flex='100' layout='row' layout-align='space-around center'>
                            <div flex='10'>Runner</div>
                            <div flex='20'>Job Code Name</div>
                            <div flex='20'>Time</div>
                            <div flex='40'>Activity</div>
                            <div flex='10'></div>
                        </div>
                    </md-list-item>

                    <div ng-repeat='(id, runner) in tiempo.runners'>

                        <md-list-item running-alert="runner.jobUid" error-state="runner.error">
                            <div flex='100'layout='row' layout-align='space-around center'>
                                <div flex='10'>[{id}]</div>
                                <div flex='20'>[{runner.codeWord}]</div>
                                <div flex='20'>
                                    <span am-time-ago="runner.start_time"></span>
                                </div>
                                <div flex='40'>[{runner.message}]</div>
                                <div flex='10'>
                                    <md-progress-circular md-diameter="24px" md-mode="indeterminate" value="[{runner.total_progress}]">
                                    </md-progress-circular>
                                </div>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                    </div>

                    <!-- Queue -->
                    <div>
                        <h2 layout-padding>Job Queue</h2>

                        <md-list-item>
                            <div flex='100' layout='row' layout-align='space-around center'>
                                <div flex='20'>Name</div>
                                <div flex='40'>Task Path</div>
                                <div flex='20'>Enqueued</div>
                                <div flex='20'>Group</div>
                            </div>
                        </md-list-item>

                        <div ng-repeat='(uid, job) in tiempo.jobs | jobsFilter' class="job" id="j[{uid}]">
                            <md-divider></md-divider>
                            <md-list-item>
                                <div flex='100'layout='row' layout-align='space-around center'>
                                    <div flex='20'>[{job.codeWord}]</div>
                                    <div flex='40'>[{job.key}]</div>
                                    <div flex='20'>
                                        <span am-time-ago="job.enqueued"</span>
                                    </div>
                                    <div flex='20'>[{job.group}]</div>
                                </div>
                            </md-list-item>
                        </div>
                    </div>

                    <!-- Tasks -->
                    <h2 layout-padding>Tasks</h2>

                    <md-list-item>
                        <div flex='100' layout='row' layout-align='space-around center'>
                            <div flex="20">Next Job</div>
                            <div flex='30'>Task path</div>
                            <div flex="30"></div>
                            <div flex='20'>Next Run Time</div>
                        </div>
                    </md-list-item>

                    <div ng-repeat='(id, task) in tiempo.tasks'>
                        <md-divider></md-divider>
                        <md-list-item id="t[{task.uid}]">
                            <div flex='100'layout='row' layout-align='space-around center'>
                                <div flex="20">[{task.codeWord}]</div>
                                <div flex='30'>[{task.path}]</div>
                                <div flex='30'>[{task.id}]</div>
                                <div flex="20">
                                    <span am-time-ago="task.next_run_time"</span>
                                </div>
                            </div>
                        </md-list-item>
                    </div>

                </md-list>
            </div>
        </div>

        <!-- Javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.0.3/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0-beta.2/angular-moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js"></script>

        <script type="text/javascript">

            angular.module('app', [
                'ngAnimate',
                'ngMaterial',
                'TiempoController',
                'CustomInterpolation',
                'angularMoment',
                'tiempoFilters',
                'runningAlert',
                'jobAnimations',
            ]);

            angular.module('CustomInterpolation', [])
            .config(function($interpolateProvider) {
                $interpolateProvider.startSymbol('[{');
                $interpolateProvider.endSymbol('}]');
            });

            angular.module('tiempoFilters', [])
                .filter('jobsFilter', function() {
                  return function(input, search) {
                    if (!input) return input;
                    var result = {};
                    angular.forEach(input, function(value, key) {
                        if (value.status == "queued" || value.status == "running") {
                            result[key] = value;
                        }
                    });
                    return result;
                  }
                })
               .filter('reverse', function() {
                  return function(items) {
                    arr = [];
                    angular.forEach(items, function(value, key) {
                        arr.push(value);
                    });
                    return arr.slice().reverse();
                  };
                });


            angular.module('TiempoController', [])
            .controller('TiempoController', function($scope){

                $scope.tiempo = {};

                var sock = new SockJS('/tiempo_communication/messages/');

                sock.onopen = function(e) {
                    sock.send(
                        JSON.stringify({'hx_subscribe': 'all_tasks'})
                    );
                    sock.send(
                        JSON.stringify({'hx_subscribe': 'job_queue'})
                    );
                    sock.send(
                        JSON.stringify({'hx_subscribe': 'results'})
                    );
                    sock.send(
                        JSON.stringify({'hx_subscribe': 'successes'})
                    );
                    sock.send(
                        JSON.stringify({'hx_subscribe': 'runners'})
                    );
                    sock.send('updateJobs');
                };

                sock.onmessage = function(e) {

                    var message = JSON.parse(e.data);

                    // Just return if this is maintenance stuff.
                    if ("setup_connection" in message) {
                        return;
                    }

                    if ("message" in message && message.message.indexOf("<HTTPChannel") == 0) {
                        return;
                    }
                    ////// End connection maintainence.

                    var key = Object.keys(message); // Will be "runners" or "tasks" or something.
                    var objects = message[key]
                    console.log("Received " + Object.keys(objects).length + " " + key);
                    console.log(objects);

                    // Make sure we know about this type of object.
                    if (!(key in $scope.tiempo)) {
                        $scope.tiempo[key] = {};
                    }


                    // Take each object in the message and push it to a list of like objects.
                    for (var objectId in objects) {
                       $scope.tiempo[key][objectId] = objects[objectId];
                    }

                    $scope.$apply(); // Update the scope for every message on the socket.
                };

            });

            angular.module('runningAlert', []).directive('runningAlert', function($animate) {
              return function(scope, runnerElem, attr) {
                  scope.$watch(attr.errorState, function(nv, ov) {
                    if (nv) {
                      Velocity(runnerElem, { 'backgroundColor': '#f6f6f6' });
                      Velocity(runnerElem, "transition.slideUpOut");
                    }
                  })
                  scope.$watch(attr.runningAlert, function(nv, ov) {
                    if (nv) {
                        alertRunningSequence = false;
                        jobObj = scope.tiempo['jobs'][nv];
                        if (jobObj) {
                            jobElem = document.getElementById('j' + nv);
                            taskElem = document.getElementById('t' + jobObj.taskUid)
                            alertRunningSequence = [
                                { e: jobElem, p: {'backgroundColor': '#fff9d8'}},
                                { e: taskElem, p: "alertRunning", o: { sequenceQueue: false}},
                                { e: jobElem, p: 'transition.slideLeftBigOut', o: { sequenceQueue: false}},
                                { e: runnerElem, p: {'backgroundColor': '#fff9d8'}, o: { sequenceQueue: false}},
                                { e: runnerElem, p: 'transition.slideLeftBigIn', o: { sequenceQueue: false}},
                                { e: runnerElem, p: {'backgroundColor': '#f6f6f6'}, o: { sequenceQueue: false}},
                            ]
                        }
                    } else {
                        console.log("Job finished.");
                        alertRunningSequence = [
                        { e: runnerElem, p: 'transition.slideUpOut'},
                        ]

                    }
                    if (alertRunningSequence) {
                      Velocity.RunSequence(alertRunningSequence);
                    }
                  })
              }
            });

            angular.module('jobAnimations', []).animation('.job', [function() {
                  return {
                    enter: function(element, doneFn) {
                        Velocity(element, "transition.flipBounceYIn");
                        Velocity(element, {backgroundColor: "#fff"}, {duration: 2000}).then(doneFn);
                    },
                  }
            }])
            .animation('.finishedJob', [function() {
                  return {
                    enter: function(element, doneFn) {
                        Velocity(element, "transition.slideDownIn");
                    },
                  }
            }]);


    Velocity.RegisterEffect("alertRunning", {
        calls: [
            [{'backgroundColor': '#FF9900'}, 0.001],
            ['callout.pulse'],
        ],
        reset: {'backgroundColor': '#fff'}
    })

        </script>
    </body>
</html>
