<!DOCTYPE html>
<html>
    <head>
        <title>Reelio Tiempo Dashboard</title>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
    </head>
    <body ng-app='app'>
        <md-toolbar>
            <div class='md-toolbar-tools'>
                <h1>Reelio - Tiempo</h1>
            </div>
        </md-toolbar>

        <div ng-controller='TiempoController' layout-padding>
            <div layout='row'>
                <md-list flex='100' class='md-whiteframe-1dp'>
                    <md-list-item>
                        <div flex='100' layout='row' layout-align='space-around center'>
                            <div flex='10'>Runner</div>
                            <div flex='40'>Time</div>
                            <div flex='40'>Message</div>
                        </div>
                    </md-list-item>


                    <div ng-repeat='runner in runners'>
                        <md-divider></md-divider>
                        <md-list-item>
                            <div flex='100'layout='row' layout-align='space-around center'>
                                <div flex='10'>[{runner.runner}]</div>
                                <div flex='40'>[{runner.time | date:'short'}]</div>
                                <div flex='40'>[{runner.message}]</div>
                            </div>
                        </md-list-item>
                    </div>


                    <md-list-item>
                        <div flex='100' layout='row' layout-align='space-around center'>
                            <div flex='60'>Task path</div>
                            <div flex='40'>Next Run Time</div>
                        </div>
                    </md-list-item>

                    <div ng-repeat='task in tasks'>
                        <md-divider></md-divider>
                        <md-list-item>
                            <div flex='100'layout='row' layout-align='space-around center'>
                                <div flex='60'>[{task.name}]</div>
                                <div flex='40'>[{task.next_run_time | daysTill}]</div>
                            </div>
                        </md-list-item>
                    </div>

                </md-list>
            </div>
        </div>

        <!-- Javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.0.3/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
        <script type="text/javascript">

            angular.module('CustomInterpolation', [])
            .config(function($interpolateProvider) {
                $interpolateProvider.startSymbol('[{');
                $interpolateProvider.endSymbol('}]');
            });


            // datetime filter
            angular.module('DaysTillFilter', [])
            .filter('daysTill', function(){
                var secsInDay = 24*60*60;
                var pluralizer = function(time, unit){
                    var total = time + ' '+ unit;
                    total += (time === 1) ? '' : 's';
                    return total;
                };
                return function (date, close, dayMode){
                    close = close || ' closed';
                    date = (date instanceof Date) ? date : Date.parse(date);
                    var secs = ((date - new Date())/1000);
                    if(secs <= 0) return '0' + close;
                    if(dayMode) {
                        var days = Math.round(secs/secsInDay);
                        if(days > 0){
                            return pluralizer(days, 'day');
                        }
                        else{
                            return '< 1 day';
                        }
                    }
                    else {
                        return pluralizer(Math.round(secs), 'second');
                        }
                };
            });






            angular.module('TiempoController', [])
            .controller('TiempoController', function($scope){

                var sock = new SockJS('192.168.1.145:8000/messages/main/');

                $scope.runners = [];
                $scope.tasks = [];

                sock.onopen = function(e) {
                    sock.send(
                        JSON.stringify({'hx_subscribe': 'all_tasks'})
                    );
                };

                sock.onmessage = function(e) {
                    var message = JSON.parse(e.data);
                    if('runner' in message){
                        var runnerIndex = _.findIndex($scope.runners, function(obj){
                            return obj.runner == message.runner;
                        })
                        if(runnerIndex == -1){
                            $scope.runners.push(message);
                        }
                        else{
                            $scope.runners[runnerIndex] = message;
                        }
                        $scope.$apply()
                    }

                    if('task' in message){
                      var taskIndex = _.findIndex($scope.tasks, function(obj){
                          return obj.task == message.task;
                      });
                      if(taskIndex == -1){
                          $scope.tasks.push(message);
                      }
                      else {
                          $scope.tasks[taskIndex] = message;
                      }
                    }
                };

            });

            angular.module('app', [
                'ngMaterial',
                'TiempoController',
                'CustomInterpolation',
                'DaysTillFilter'
            ]);

        </script>
    </body>
</html>
