{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Reelio Tiempo Dashboard</title>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">

        <style type="text/css">

            .job.ng-animate {
              background-color: teal;
            }

            #finishedJobs {
              position: absolute;
              left: 0;
            }

            .error {
              border: 2px solid red;
              margin-top: 10px;
              background-color: rgb(255, 233, 233);
            }

             .success {
              border: 2px solid green;
              margin-top: 10px;
              background-color: #D5FFD1;
            }

            md-progress-circular {
              height: 20px;
              position: relative;
              bottom: 10px;
            }

            #kioskRowAreas {
              width:60%;
            }

            #organizationLogo {
                width: 180px;
            }
             .md-toolbar-tools {
              background-color: #f6f6f6;
              border-bottom: 1px solid #ccc;
              height:100px;
            }


        </style>
    </head>
    <body ng-app='app'>
        <md-toolbar>
            <div class='md-toolbar-tools'>
                <img id="organizationLogo" src="{{organization_logo}}"/>
                <img src="{% static 'tiempo/img/tiempo-logo.png' %}" width="100" style="float: right;"/>
            </div>
        </md-toolbar>

        <div ng-controller='TiempoController' layout-padding>

            <md-list id="finishedJobs">
                <div class="finishedJob" ng-repeat="(id, result) in tiempo.results | reverse" ng-click="result.showMore=!result.showMore">
                    <div ng-class="{'error': result.error_message, 'success': !result.error_message}" class="md-list-item-text" layout="column">
                        <div flex="10">"[{result.codeWord}]" <strong>([{result.message}])</strong></div>
                        <div>[{result.finish_time| amDateFormat:'MM.DD.YYYY HH:mm:ss'}]</div>
                        <div class="errorText">[{result.result}]</div>
                        <div>[{(result.result_detail|json).length}] details</div>
                        <div ng-if="result.showMore">
                            <pre ng-repeat="detail in result.result_detail|json track by $index">
                                [{detail}]
                            </pre>
                        </div>
                    </div>
                </div>
            </md-list>

        </div>

        <!-- Javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.0.3/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0-beta.2/angular-moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js"></script>

        <script type="text/javascript">

            angular.module('app', [
                'ngAnimate',
                'ngMaterial',
                'TiempoController',
                'CustomInterpolation',
                'angularMoment',
                'tiempoFilters',
                'runningAlert',
                'jobAnimations',
            ]);

            angular.module('CustomInterpolation', [])
            .config(function($interpolateProvider) {
                $interpolateProvider.startSymbol('[{');
                $interpolateProvider.endSymbol('}]');
            });

            angular.module('tiempoFilters', [])
                .filter('jobsFilter', function() {
                  return function(input, search) {
                    if (!input) return input;
                    var result = {};
                    angular.forEach(input, function(value, key) {
                        if (value.status == "queued" || value.status == "running") {
                            result[key] = value;
                        }
                    });
                    return result;
                  }
                })
               .filter('reverse', function() {
                  return function(items) {
                    arr = [];
                    angular.forEach(items, function(value, key) {
                        arr.push(value);
                    });
                    return arr.slice().reverse();
                  };
                });


            angular.module('TiempoController', [])
            .controller('TiempoController', function($scope){

                $scope.tiempo = {};

                var sock = new SockJS('/tiempo_communication/messages/');

                sock.onopen = function(e) {
                    sock.send(
                        JSON.stringify({'hx_subscribe': 'results'})
                    );
                    sock.send('updateJobs');
                };

                sock.onmessage = function(e) {

                    var message = JSON.parse(e.data);

                    // Just return if this is maintenance stuff.
                    if ("setup_connection" in message) {
                        return;
                    }

                    if ("message" in message && message.message.indexOf("<HTTPChannel") == 0) {
                        return;
                    }
                    ////// End connection maintainence.

                    var key = Object.keys(message); // Will be "runners" or "tasks" or something.
                    var objects = message[key]
                    // console.log("Received " + Object.keys(objects).length + " " + key);
                    // console.log(objects);

                    // Make sure we know about this type of object.
                    if (!(key in $scope.tiempo)) {
                        $scope.tiempo[key] = {};
                    }


                    // Take each object in the message and push it to a list of like objects.
                    for (var objectId in objects) {
                       $scope.tiempo[key][objectId] = objects[objectId];
                    }

                    $scope.$apply(); // Update the scope for every message on the socket.
                };

            });

            angular.module('runningAlert', []).directive('runningAlert', function($animate) {
              return function(scope, runnerElem, attr) {
                  scope.$watch(attr.errorState, function(nv, ov) {
                    if (nv) {
                      Velocity(runnerElem, { 'backgroundColor': '#FFE9E9' });
                      Velocity(runnerElem, "transition.slideRightBigOut");
                    }
                  })
                  scope.$watch(attr.runningAlert, function(nv, ov) {
                    if (nv) {
                        alertRunningSequence = false;
                        jobObj = scope.tiempo['jobs'][nv];
                        if (jobObj) {
                            jobElem = document.getElementById('j' + nv);
                            taskElem = document.getElementById('t' + jobObj.taskUid)
                            alertRunningSequence = [
                                { e: jobElem, p: {'backgroundColor': '#FF9900'}},
                                { e: taskElem, p: "alertRunning", o: { sequenceQueue: false}},
                                { e: jobElem, p: 'transition.slideLeftBigOut', o: { sequenceQueue: false}},
                                { e: runnerElem, p: {'backgroundColor': '#FF9900'}, o: { sequenceQueue: false}},
                                { e: runnerElem, p: 'transition.slideLeftBigIn', o: { sequenceQueue: false}},
                                { e: runnerElem, p: {'backgroundColor': '#fff'}, o: { sequenceQueue: false}},
                            ]
                        }
                    } else {
                        console.log("Job finished.");
                        alertRunningSequence = [
                        { e: runnerElem, p: 'transition.slideUpOut'},
                        ]

                    }
                    if (alertRunningSequence) {
                      Velocity.RunSequence(alertRunningSequence);
                    }
                  })
              }
            });

            angular.module('jobAnimations', []).animation('.job', [function() {
                  return {
                    enter: function(element, doneFn) {
                        Velocity(element, "transition.flipBounceYIn");
                        Velocity(element, {backgroundColor: "#fff"}, {duration: 2000}).then(doneFn);
                    },
                  }
            }])
            .animation('.finishedJob', [function() {
                  return {
                    enter: function(element, doneFn) {
                        Velocity(element, "transition.slideLeftBigIn");
                    },
                  }
            }]);


    Velocity.RegisterEffect("alertRunning", {
        calls: [
            [{'backgroundColor': '#FF9900'}, 0.001],
            ['callout.pulse'],
        ],
        reset: {'backgroundColor': '#fff'}
    })

        </script>
    </body>
</html>
